footer {
	font-family: 'Open Sans',Andale Mono,monospace;
	margin-top: 50px;
	background: #dbdbdb;
	height: 100%;
	text-align: center;
	color: #1c1c1c;
	height: 3em;
}

footer a {
	text-decoration: none;
	color: #1c1c1c;
}

footer a:hover, .linkedin a, .github a {
	transition: 0.15s;
	color: #454545;
	text-decoration: underline;
	font-weight: bold;
}